---
title: Our Story
hero: Our story
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	{% endfor %}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Our Company</h3>
		<p class="editable">Al-Aqssa is a distributor of Two Way Radio, TETRA Radio</p>
	</div>
	<div>
		<h3 class="editable">Our Company</h3>
		<p class="editable">Unified Communication products and solutions. In operation since 2003, we have the technical expertise in assist of any Wireless and Two Way Radio solutions.</p>
	</div>
	<div>
		<h3 class="editable">Style</h3>
		<p class="editable">We like to keep things plain and simple around here.</p>
	</div>
</div>
